.remove-scrollbar {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE and Edge */
}

.remove-scrollbar::-webkit-scrollbar {
	width: 0px;
	height: 0px;
	display: none; /* Safari and Chrome */
}

.remove-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}

.remove-scrollbar::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 0px;
}

.text-shadow-sm {
	text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
}

.sheet[data-slot="popover-content"] {
	min-width: 280px !important;
}

@media (min-width: 380px) {
	.sheet[data-slot="popover-content"] {
		min-width: 420px !important;
	}
}
